.identity {
	padding: 1em 1em 0;
}
.identity img {
	width: 240px;
}
.outer {
	padding: 1em 1em;
}
.mqtt-inputs {
	margin: 1em 0;
}
.mqtt-status {
	margin: 1em 0;
}
#serialports, .serialPortStatus, .connect-serial {
	margin: 1em 0;
}
#serialports input {
	float: left;
	width: 22px;
}


.interface-name {
	display: inline;
}

.interface-address {

}

.table-title {
	text-align: center;
}

.greenBackground {
	background: green;
}

.redBackground {
	background: red;
}